﻿
@{
    ViewBag.Title = "Detalji";
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Detalji fitnes centra</title>
    </head>
    <body>
        <h2 class="text-info">Detalji fitnes centra @ViewBag.centar.Naziv</h2>
        <table class="table table-striped">
            <thead class="thead-light">
                <tr bgcolor="lightgrey">
                    <td align="center"><strong>Naziv</strong></td>
                    <td align="center"><strong>Adresa</strong></td>
                    <td align="center"><strong>Godina otvaranja</strong></td>
                    <td align="center"><strong>Ime vlasnika</strong></td>
                    <td align="center"><strong>Cena mesecne clanarine</strong></td>
                    <td align="center"><strong>Cena godisnje clanarine</strong></td>
                    <td align="center"><strong>Cena jednog treninga</strong></td>
                    <td align="center"><strong>Cena jednog grupnog treninga</strong></td>
                    <td align="center"><strong>Cena treninga sa PT</strong></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="center">@ViewBag.centar.Naziv</td>
                    <td align="center">@ViewBag.centar.Adresa</td>
                    <td align="center">@ViewBag.centar.GodinaOtvaranja</td>
                    <td align="center">@ViewBag.centar.Vlasnik.Ime @ViewBag.centar.Vlasnik.Prezime </td>
                    <td align="center">@ViewBag.centar.CenaMesecneClanarine</td>
                    <td align="center">@ViewBag.centar.CenaGodisnjeClanarine</td>
                    <td align="center">@ViewBag.centar.CenaJednogTreninga</td>
                    <td align="center">@ViewBag.centar.CenaJednogGrupnog</td>
                    <td align="center">@ViewBag.centar.CenaJednogPT</td>
                </tr>
            </tbody> 
        </table>
        <br /><br />

        @if (ViewBag.grupnitreninzi.Count != 0)
        {
            <h2 class="text-info">Grupni treninzi u fitnes centru @ViewBag.centar.Naziv</h2>
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr bgcolor="lightgrey">
                        <td align="center"><strong>Naziv treninga</strong></td>
                        <td align="center"><strong>Tip treninga</strong></td>
                        <td align="center"><strong>Trajanje treninga</strong></td>
                        <td align="center"><strong>Vreme odrzavanja</strong></td>
                        <td align="center"><strong>Max broj posetilaca</strong></td>
                        <td align="center"><strong>Broj prijavljenih posetilaca</strong></td>
                        @if (ViewBag.korisnik.LogedIn && ViewBag.korisnik.Uloga.ToString() == "POSETILAC")
                        {
                            <td>&nbsp;</td>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.grupnitreninzi)
                    {
                        <tr>
                            <td align="center">@item.Naziv</td>
                            <td align="center">@item.TipTreninga.ToString()</td>
                            <td align="center">@item.TrajanjeTreninga</td>
                            <td align="center">@item.VremeOdrzavanja.ToString("dd/MM/yyyy HH:mm")</td>
                            <td align="center">@item.MaksimalanBrojPosetilaca</td>
                            <td align="center">@item.Posetioci.Count</td>
                            @if (ViewBag.korisnik.LogedIn && ViewBag.korisnik.Uloga.ToString() == "POSETILAC")
                            {
                                <td>
                                    <form method="post" action="~/PosetilacUlogovan/PrijaviSe?idTreninga=@item.Id">
                                        <input class="btn btn-success" type="submit" value="Prijavi se" />
                                    </form>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h2 class="text-info">U fitnes centru @ViewBag.centar.Naziv nema predstojecih grupnih treninga</h2>

        }
        <br /><br />
        @if (ViewBag.komentari.Count != 0)
        {
            <h2 class="text-info">Komentari posetilaca na fitnes centar @ViewBag.centar.Naziv</h2>
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr bgcolor="lightgrey">
                        <td align="center"><strong>Ime posetioca</strong></td>
                        <td align="center"><strong>Komentar</strong></td>
                        <td align="center"><strong>Ocena</strong></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.komentari)
                    {
                        if (@item.Obrisan)
                        {
                            <tr style="background-color:red; color:white">
                                <td align="center">@item.Posetilac.KorisnickoIme</td>
                                <td align="center">@item.Tekst</td>
                                <td align="center">@item.Ocena</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td align="center">@item.Posetilac.KorisnickoIme</td>
                                <td align="center">@item.Tekst</td>
                                <td align="center">@item.Ocena</td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        }
        else
        {
            <h2 class="text-info">Za fitnes centar @ViewBag.centar.Naziv nema komentara</h2>
        }
    </body>
</html>

