﻿@{
    ViewBag.Title = "Home Page";

}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Home page</title>
        <style>
            a{
                color:black;
            }

            div.row {
                display: flex;
                align-items: center;
            }
        </style>
    </head>
    <body>
        @if (ViewBag.AlertMessage != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    alert("@ViewBag.AlertMessage");
                };
            </script>
        }
        <br />
        @if (ViewBag.korisnik.LogedIn)
        {
            if (ViewBag.korisnik.Uloga.ToString() == "TRENER")
            {
                <h2>@ViewBag.korisnik.KorisnickoIme ulogovan, zaposleni ste u @ViewBag.korisnik.FitnesCentarZaposlen.Naziv</h2>
            }
            else
            {
                <h2>@ViewBag.korisnik.KorisnickoIme ulogovan</h2>
            }
        }

        @if (ViewBag.sortiranaLista.Count != 0)
        {
            <h2 class="text-info"> Fitnes centri </h2>
            <table class="table table-striped" border="1">
                <thead class="thead-light">
                    <tr bgcolor="lightgrey">
                        <td align="center"><strong><a href="/Home/Naziv">Naziv</a></strong></td>
                        <td align="center"><strong><a href="/Home/Adresa">Adresa</a></strong></td>
                        <td align="center"><strong><a href="/Home/Godina">Godina otvaranja</a></strong></td>
                        <td>&nbsp;</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.sortiranaLista)
                    {
                        <tr>
                            <td align="center">@item.Naziv</td>
                            <td align="center">@item.Adresa</td>
                            <td align="center">@item.GodinaOtvaranja</td>
                            <td align="center">
                                <form method="post" action="~/Home/Detalji?id=@item.Id">
                                    <input class="btn btn-info" type="submit" value="Detalji" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h2>Nema trazenih fitnes centara</h2>
        }

        <br /><br />

        <h3><strong>Pretraga fitnes centara</strong></h3>
        <br />
        <form method="post" action="~/Home/Pretrazi">
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-sm-2">Naziv fitnes centra:</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" id="naziv" placeholder="Unesite naziv fitnes centra" maxlength="30" name="naziv" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Adresa fitnes centra:</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" id="adresa" placeholder="Unesite adresu fitnes centra" maxlength="70" name="adresa" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Godina otvaranja:</label>
                    <div class="col-sm-2">
                        <input class="form-control" type="number" id="godinaOtvaranjaMin" placeholder="Od" min="1950" max="2099" step="1" name="godinaOtvaranjaMin" />
                    </div>
                    <div class="col-sm-2">
                        <input class="form-control" type="number" id="godinaOtvaranjaMax" placeholder="Do" min="1950" max="2099" step="1" name="godinaOtvaranjaMax" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-3">
                        <input class="btn btn-primary" type="submit" value="Pretrazi" />
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>