﻿
@{
    ViewBag.Title = "MojiGrupniTreninzi";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Grupni treninzi</title>

    <style>
        a{
                color:black;
            }
        div.row {
            display: flex;
            align-items: center;
        }
    </style>
</head>
    <body>
        @if (ViewBag.AlertMessage != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    alert("@ViewBag.AlertMessage");
                };
            </script>
        }
        @if (ViewBag.sortiranitreninzinovi.Count != 0)
        {
            <h2 class="text-info">Grupni treninzi na koje je @ViewBag.posetilac.KorisnickoIme prijavljen</h2>
            <table class="table table-striped" border="1">
                <thead class="thead-light">
                    <tr bgcolor="lightgrey">
                        <td align="center"><strong>Naziv treninga</strong></td>
                        <td align="center"><strong>Tip treninga</strong></td>
                        <td align="center"><strong>Trajanje treninga</strong></td>
                        <td align="center"><strong>Vreme odrzavanja</strong></td>
                        <td align="center"><strong>Mesto odrzavanja</strong></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.sortiranitreninzinovi)
                    {
                        <tr>
                            <td align="center">@item.Naziv</td>
                            <td align="center">@item.TipTreninga.ToString()</td>
                            <td align="center">@item.TrajanjeTreninga</td>
                            <td align="center">@item.VremeOdrzavanja.ToString("dd/MM/yyyy HH:mm")</td>
                            <td align="center">@item.FitnesCentar.Naziv</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h2 class="text-info">Posetilac @ViewBag.posetilac.KorisnickoIme nije prijavljen ni na jedan grupni trening</h2>
        }

        @if (ViewBag.sortiranitreninzistari.Count != 0)
        {
            <h2 class="text-info">Grupni treninzi na kojima je ucestvovao @ViewBag.posetilac.KorisnickoIme</h2>
            <table class="table table-striped" border="1">
                <thead class="thead-light">
                    <tr bgcolor="lightgrey">
                        <td align="center"><strong><a href="/PosetilacUlogovan/Naziv">Naziv treninga</a></strong></td>
                        <td align="center"><strong><a href="/PosetilacUlogovan/Tip">Tip treninga</a></strong></td>
                        <td align="center"><strong>Trajanje treninga</strong></td>
                        <td align="center"><strong><a href="/PosetilacUlogovan/Vreme">Vreme odrzavanja</a></strong></td>
                        <td align="center"><strong>Mesto odrzavanja</strong></td>
                        <td>&nbsp;</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.sortiranitreninzistari)
                    {
                        <tr>
                            <td align="center">@item.Naziv</td>
                            <td align="center">@item.TipTreninga.ToString()</td>
                            <td align="center">@item.TrajanjeTreninga</td>
                            <td align="center">@item.VremeOdrzavanja.ToString("dd/MM/yyyy HH:mm")</td>
                            <td align="center">@item.FitnesCentar.Naziv</td>
                            <td align="center">
                                <form method="post" action="~/PosetilacUlogovan/Ostavi?idFC=@item.FitnesCentar.Id">
                                    <input class="btn btn-info" type="submit" value="Ostavi komentar" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h2 class="text-info">Posetilac @ViewBag.posetilac.KorisnickoIme nije ucestvovao na grupnim treninzima</h2>
        }
        <br />

        <h3><strong>Pretraga grupnih treninga</strong></h3>
        <br/>
        <form method="post" action="~/PosetilacUlogovan/Pretrazi">
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-sm-2">Naziv grupnog treninga:</label>
                    <div class="col-sm-4">
                        <input class="form-control" placeholder="Unesite naziv grupnog treninga" maxlength="30" type="text" name="naziv" />
                    </div>
                </div>
                <br/>
                <div class="row">
                    <label class="control-label col-sm-2">Tip grupnog treninga:</label>
                    <div class="col-sm-4">
                        <input class="form-control" placeholder="Unesite tip grupnog treninga" list="tipovi" name="tip" />
                        <datalist id="tipovi">
                            @foreach (var i in ViewBag.tipovitreninga)
                            {
                                <option value="@i"></option>
                            }
                        </datalist>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <label class="control-label col-sm-2">Naziv fitnes centra:</label>
                    <div class="col-sm-4">
                        <input class="form-control" placeholder="Unesite naziv fitnes centra" maxlength="30" type="text" name="nazivFC" />
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-3">
                        <input class="btn btn-primary" type="submit" value="Pretrazi" />
                    </div>
                </div>
            </div>            
        </form>
    </body>
</html>
