﻿
@{
    ViewBag.Title = "OstaviKomentar";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Dodajte komentar</title>

    <script>
        function validateForm() {
            if ($("#comments").val() == "") {
                $("#Status1").html('<font color="Red">Ovo polje mora biti popunjeno!</font>');
                $("#comments").css("border-color", "Red");
                return false;

            } else if (username) {
                $("#Status1").html('');
                $("#comments").css("border-color", "lightgray");
                return true;
            }
        }
    </script>

    <style>
        div.row {
            display: flex;
            align-items: center;
        }
    </style>

</head>
    <body>
        <h2 class="text-info">Ostavite komentar na Fitnes centar @ViewBag.fitnescentar.Naziv</h2>
        <br />
        <form method="post" onsubmit="return validateForm()" action="~/PosetilacUlogovan/KomentarDodat?id=@ViewBag.fitnescentar.Id">
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-sm-2">Unesite tekst komentara:</label>
                    <div class="col-sm-3">
                        <textarea class="form-control" name="komentar" id="comments" style="font-family:sans-serif;font-size:1.2em;"></textarea>
                    </div>
                    <label id="Status1" class="control-label col-sm-4"></label>
                </div>
                <br/>
                <div class="row">
                    <label class="control-label col-sm-2">Unesite ocenu:</label>
                    <div class="col-sm-3">
                        <select class="form-control" name="ocena">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-4">
                        <input class="btn btn-primary" type="submit" value="Dodaj komentar" />
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>
