﻿
@{
    ViewBag.Title = "DodajTrenera";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dodaj trenera</title>

    <script type="text/javascript">

        var username = true;
        var email = true;

        function UserCheck() {
            if ($("#KorisnickoIme").val() == "") {
                $("#Status1").html('<font color="Red">Ovo polje mora biti popunjano!</font>');
                $("#KorisnickoIme").css("border-color", "Red");
            } else {
                $.post("@Url.Action("CheckUserAvailability", "Registration")",
                {
                    userdata: $("#KorisnickoIme").val()
                },
                function (data) {
                    if (data == 0) {
                        $("#Status1").html('<font color="Green">Korisnicko ime je slobodno!</font>');
                        $("#KorisnickoIme").css("border-color", "GreenYellow");
                        username = true;
                    } else {
                        $("#Status1").html('<font color="Red">Ovo korisnicko ime je zauzeto!</font>');
                        $("#KorisnickoIme").css("border-color", "Red");
                        username = false;
                    }
                });
            }
        }

        function PasswordEmpty() {
            if ($("#Lozinka").val() == "") {
                $("#Status2").html('<font color="Red">Ovo polje mora biti popunjano!</font>');
                $("#Lozinka").css("border-color", "Red");
            } else {
                $("#Status2").html('');
                $("#Lozinka").css("border-color", "lightgray");
            }
        }

        function ImeEmpty() {
            if ($("#Ime").val() == "") {
                $("#Status3").html('<font color="Red">Ovo polje mora biti popunjano!</font>');
                $("#Ime").css("border-color", "Red");
            } else {
                $("#Status3").html('');
                $("#Ime").css("border-color", "lightgray");
            }
        }

        function PrezimeEmpty() {
            if ($("#Prezime").val() == "") {
                $("#Status4").html('<font color="Red">Ovo polje mora biti popunjano!</font>');
                $("#Prezime").css("border-color", "Red");
            } else {
                $("#Status4").html('');
                $("#Prezime").css("border-color", "lightgray");
            }
        }

        function EmailValidation() {
            if ($("#Email").val() == "") {
                $("#Status5").html('<font color="Red">Ovo polje mora biti popunjano!</font>');
                $("#Email").css("border-color", "Red");
            } else {
                $.post("@Url.Action("EmailValidation", "Registration")",
                {
                    email: $("#Email").val()
                },
                function (data) {
                    if (data == 0) {
                        $("#Status5").html('<font color="Red">Email nije validan!</font>');
                        $("#Email").css("border-color", "Red");
                        email = false;
                    } else {
                        $("#Status5").html('');
                        $("#Email").css("border-color", "lightgray");
                        email = true;
                    }
                }); 
            }
        }

        function vratiDatum() {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }

            today = yyyy + '-' + mm + '-' + dd;
            document.getElementById("DatumRodjenja").setAttribute("max", today);
        }

        function validateForm() {

            var dobro = true;

            if ($("#KorisnickoIme").val() == "") {
                $("#Status1").html('<font color="Red">Ovo polje mora biti popunjeno!</font>');
                $("#KorisnickoIme").css("border-color", "Red");
                dobro = false;
            } else if (username) {
                $("#Status1").html('');
                $("#KorisnickoIme").css("border-color", "GreenYellow");
            }
            if ($("#Lozinka").val() == "") {
                $("#Status2").html('<font color="Red">Ovo polje mora biti popunjeno!</font>');
                $("#Lozinka").css("border-color", "Red");
                dobro = false;
            } else {
                $("#Status2").html('');
                $("#Lozinka").css("border-color", "lightgray");
            }
            if ($("#Ime").val() == "") {
                $("#Status3").html('<font color="Red">Ovo polje mora biti popunjeno!</font>');
                $("#Ime").css("border-color", "Red");
                dobro = false;
            } else {
                $("#Status3").html('');
                $("#Ime").css("border-color", "lightgray");
            }
            if ($("#Prezime").val() == "") {
                $("#Status4").html('<font color="Red">Ovo polje mora biti popunjeno!</font>');
                $("#Prezime").css("border-color", "Red");
                dobro = false;
            } else {
                $("#Status4").html('');
                $("#Prezime").css("border-color", "lightgray");
            }
            if ($("#Email").val() == "") {
                $("#Status5").html('<font color="Red">Ovo polje mora biti popunjeno!</font>');
                $("#Email").css("border-color", "Red");
                dobro = false;
            } else if (email) {
                $("#Status5").html('');
                $("#Email").css("border-color", "lightgray");
            }
            if ($("#DatumRodjenja").val() == "") {
                $("#Status6").html('<font color="Red">Ovo polje mora biti popunjeno!</font>');
                $("#DatumRodjenja").css("border-color", "Red");
                dobro = false;
            } else {
                $("#Status6").html('');
                $("#DatumRodjenja").css("border-color", "lightgray");
            }

            return (dobro && username && email);
        }

    </script>

    <style>
        div.row {
            display: flex;
            align-items: center;
        }
    </style>
</head>
    <body onload="javascript:vratiDatum()">
        @if (ViewBag.AlertMessage != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    alert("@ViewBag.AlertMessage");
                };
            </script>
        }
        <h2 class="text-info">Registruj novog trenera</h2>
        <br/>
        <form method="post" action="~/VlasnikUlogovan/TrenerDodat" onsubmit="return validateForm()">
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-sm-2">Korisnicko ime:</label>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" maxlength="30" placeholder="Unesite korisnicko ime" name="KorisnickoIme" id="KorisnickoIme" onchange="UserCheck()" />
                    </div>
                    <label id="Status1" class="control-label col-sm-4"></label>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Lozinka:</label>
                    <div class="col-sm-3">
                        <input class="form-control" type="password" placeholder="Unesite lozinku" onchange="PasswordEmpty()" id="Lozinka" name="Lozinka" />
                    </div>
                    <label id="Status2" class="control-label col-sm-4"></label>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Ime:</label>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" placeholder="Unesite ime" onchange="ImeEmpty()" maxlength="20" id="Ime" name="Ime" />
                    </div>
                    <label id="Status3" class="control-label col-sm-4"></label>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Prezime:</label>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" placeholder="Unesite prezime" onchange="PrezimeEmpty()" maxlength="30" id="Prezime" name="Prezime" />
                    </div>
                    <label id="Status4" class="control-label col-sm-4"></label>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Email:</label>
                    <div class="col-sm-3">
                        <input class="form-control" type="email" maxlength="40" onchange="EmailValidation()" placeholder="Unesite email" id="Email" name="Email" />
                    </div>
                    <label id="Status5" class="control-label col-sm-4"></label>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Pol:</label>
                    <div class="col-sm-1">
                        <input type="radio" name="Pol" value="MUSKI" checked />Muski &nbsp; &nbsp;
                    </div>
                    <div class="col-sm-1">
                        <input type="radio" name="Pol" value="ZENSKI" />Zenski
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Datum rodjenja:</label>
                    <div class="col-sm-3">
                        <input class="form-control" type="date" id="DatumRodjenja" min='1899-01-01' name="DatumRodjenja" />
                    </div>
                    <label id="Status6" class="control-label col-sm-4"></label>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Zaposlen u:</label>
                    <div class="col-sm-3">
                        <select class="form-control" name="naziv">
                            @foreach (var i in ViewBag.fitnescentri)
                            {
                                <option value="@i.Naziv">@i.Naziv</option>
                            }
                        </select>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-4">
                        <input class="btn btn-primary" type="submit" id="dugme" value="Registrujte trenera" />
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>
