﻿
@{
    ViewBag.Title = "DodajFitnesCentar";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dodaj fitnes centar</title>

    <script>

        var naziv = true;

        function UserCheck() {
            if ($("#Naziv").val() == "") {
                $("#Status1").html('<font color="Red">Ovo polje mora biti popunjano!</font>');
                $("#Naziv").css("border-color", "Red");
            } else {
                $.post("@Url.Action("CheckUserAvailability", "VlasnikUlogovan")",
                {
                    userdata: $("#Naziv").val()
                },
                function (data) {
                    if (data == 0) {
                        $("#Naziv").css("border-color", "GreenYellow");
                        $("#Status1").html('');
                        naziv = true;
                    } else {
                        $("#Naziv").css("border-color", "Red");
                        $("#Status1").html('<font color="Red">Fitnes centar sa istim nazivom vec postoji!</font>');
                        naziv = false;
                    }
                });
            }
        }

        function AdresaEmpty() {
            if ($("#Adresa").val() == "") {
                $("#Status2").html('<font color="Red">Ovo polje mora biti popunjano!</font>');
                $("#Adresa").css("border-color", "Red");
            } else {
                $("#Status2").html('');
                $("#Adresa").css("border-color", "lightgray");
            }
        }

        function GodinaOtvaranjaEmpty() {
            if ($("#GodinaOtvaranja").val() == "") {
                $("#Status3").html('<font color="Red">Ovo polje mora biti popunjano!</font>');
                $("#GodinaOtvaranja").css("border-color", "Red");
            } else {
                $("#Status3").html('');
                $("#GodinaOtvaranja").css("border-color", "lightgray");
            }
        }

        function CenaMesecneClanarineEmpty() {
            if ($("#CenaMesecneClanarine").val() == "") {
                $("#Status4").html('<font color="Red">Ovo polje mora biti popunjano!</font>');
                $("#CenaMesecneClanarine").css("border-color", "Red");
            } else {
                $("#Status4").html('');
                $("#CenaMesecneClanarine").css("border-color", "lightgray");
            }
        }

        function CenaGodisnjeClanarineEmpty() {
            if ($("#CenaGodisnjeClanarine").val() == "") {
                $("#Status5").html('<font color="Red">Ovo polje mora biti popunjano!</font>');
                $("#CenaGodisnjeClanarine").css("border-color", "Red");
            } else {
                $("#Status5").html('');
                $("#CenaGodisnjeClanarine").css("border-color", "lightgray");
            }
        }

        function CenaJednogTreningaEmpty() {
            if ($("#CenaJednogTreninga").val() == "") {
                $("#Status6").html('<font color="Red">Ovo polje mora biti popunjano!</font>');
                $("#CenaJednogTreninga").css("border-color", "Red");
            } else {
                $("#Status6").html('');
                $("#CenaJednogTreninga").css("border-color", "lightgray");
            }
        }

        function CenaJednogGrupnogEmpty() {
            if ($("#CenaJednogGrupnog").val() == "") {
                $("#Status7").html('<font color="Red">Ovo polje mora biti popunjano!</font>');
                $("#CenaJednogGrupnog").css("border-color", "Red");
            } else {
                $("#Status7").html('');
                $("#CenaJednogGrupnog").css("border-color", "lightgray");
            }
        }

        function CenaJednogPTEmpty() {
            if ($("#CenaJednogPT").val() == "") {
                $("#Status8").html('<font color="Red">Ovo polje mora biti popunjano!</font>');
                $("#CenaJednogPT").css("border-color", "Red");
            } else {
                $("#Status8").html('');
                $("#CenaJednogPT").css("border-color", "lightgray");
            }
        }

        function validateForm() {

            var dobro = true;

            if ($("#Naziv").val() == "") {
                $("#Status1").html('<font color="Red">Ovo polje mora biti popunjeno!</font>');
                $("#Naziv").css("border-color", "Red");
                dobro = false;
            }else if(naziv) {
                $("#Status1").html('');
                $("#Naziv").css("border-color", "GreenYellow");
            }
            if ($("#Adresa").val() == "") {
                $("#Status2").html('<font color="Red">Ovo polje mora biti popunjeno!</font>');
                $("#Adresa").css("border-color", "Red");
                dobro = false;
            } else {
                $("#Status2").html('');
                $("#Adresa").css("border-color", "lightgray");
            }
            if ($("#GodinaOtvaranja").val() == "") {
                $("#Status3").html('<font color="Red">Ovo polje mora biti popunjeno!</font>');
                $("#GodinaOtvaranja").css("border-color", "Red");
                dobro = false;
            } else {
                $("#Status3").html('');
                $("#GodinaOtvaranja").css("border-color", "lightgray");
            }
            if ($("#CenaMesecneClanarine").val() == "") {
                $("#Status4").html('<font color="Red">Ovo polje mora biti popunjeno!</font>');
                $("#CenaMesecneClanarine").css("border-color", "Red");
                dobro = false;
            } else {
                $("#Status4").html('');
                $("#CenaMesecneClanarine").css("border-color", "lightgray");
            }
            if ($("#CenaGodisnjeClanarine").val() == "") {
                $("#Status5").html('<font color="Red">Ovo polje mora biti popunjeno!</font>');
                $("#CenaGodisnjeClanarine").css("border-color", "Red");
                dobro = false;
            } else {
                $("#Status5").html('');
                $("#CenaGodisnjeClanarine").css("border-color", "lightgray");
            }
            if ($("#CenaJednogTreninga").val() == "") {
                $("#Status6").html('<font color="Red">Ovo polje mora biti popunjeno!</font>');
                $("#CenaJednogTreninga").css("border-color", "Red");
                dobro = false;
            } else {
                $("#Status6").html('');
                $("#CenaJednogTreninga").css("border-color", "lightgray");
            }
            if ($("#CenaJednogGrupnog").val() == "") {
                $("#Status7").html('<font color="Red">Ovo polje mora biti popunjeno!</font>');
                $("#CenaJednogGrupnog").css("border-color", "Red");
                dobro = false;
            } else {
                $("#Status7").html('');
                $("#CenaJednogGrupnog").css("border-color", "lightgray");
            }
            if ($("#CenaJednogPT").val() == "") {
                $("#Status8").html('<font color="Red">Ovo polje mora biti popunjeno!</font>');
                $("#CenaJednogPT").css("border-color", "Red");
                dobro = false;
            } else {
                $("#Status8").html('');
                $("#CenaJednogPT").css("border-color", "lightgray");
            }

            return (dobro && naziv);
        }

    </script>

    <style>
        p.tekstic {
            color: grey;
        }
        div.row {
            display: flex;
            align-items: center;
        }
    </style>
</head>
    <body>
        @if (ViewBag.AlertMessage != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    alert("@ViewBag.AlertMessage");
                };
            </script>
        }
        <h2 class="text-info">Dodaj novi fitnes centar</h2>
        <form method="post" action="~/VlasnikUlogovan/FitnesCentarDodat" onsubmit="return validateForm()">
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-sm-2">Naziv:</label>
                    <div class="col-sm-3">
                        <input class="form-control" placeholder="Unesite naziv fitnes centra" maxlength="30" type="text" id="Naziv" name="naziv" onchange="UserCheck()" />
                    </div>
                    <label id="Status1" class="control-label col-sm-4"></label>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Adresa:</label>
                    <div class="col-sm-3">
                        <input class="form-control" placeholder="Unesite adresu fitnes centra" maxlength="70" onchange="AdresaEmpty()" id="Adresa" type="text" name="adresa" />
                    </div>
                    <label id="Status2" class="control-label col-sm-4"></label>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <p class="tekstic"><i>U formatu adresa i broj, grad, postanski broj</i></p>
                    </div>

                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Godina otvaranja:</label>
                    <div class="col-sm-3">
                        <input class="form-control" placeholder="Unesite godinu otvaranja fitnes centra" onchange="GodinaOtvaranjaEmpty()" id="GodinaOtvaranja" type="number" min="1950" max="2023" step="1" name="godinaotvaranja" />
                    </div>
                    <label id="Status3" class="control-label col-sm-4"></label>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Cena mesecne clanarine:</label>
                    <div class="col-sm-3">
                        <input class="form-control" placeholder="Unesite cenu mesecne clanarine" onchange="CenaMesecneClanarineEmpty()" id="CenaMesecneClanarine" type="number" min="10" max="1000000" name="cenamesecneclanarine" />
                    </div>
                    <label id="Status4" class="control-label col-sm-4"></label>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Cena godisnje clanarine:</label>
                    <div class="col-sm-3">
                        <input class="form-control" placeholder="Unesite cenu godisnje clanarine" onchange="CenaGodisnjeClanarineEmpty()" max="1000000" id="CenaGodisnjeClanarine" type="number" min="10" name="cenagodisnjeclanarine" />
                    </div>
                    <label id="Status5" class="control-label col-sm-4"></label>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Cena jednog treninga:</label>
                    <div class="col-sm-3">
                        <input class="form-control" placeholder="Unesite cenu jednog treninga" onchange="CenaJednogTreningaEmpty()" max="1000000" id="CenaJednogTreninga" type="number" min="10" name="cenajednogtreninga" />
                    </div>
                    <label id="Status6" class="control-label col-sm-4"></label>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Cena jednog grupnog treninga:</label>
                    <div class="col-sm-3">
                        <input class="form-control" type="number" placeholder="Unesite cenu jednog grupnog treninga" max="1000000" onchange="CenaJednogGrupnogEmpty()" id="CenaJednogGrupnog" min="10" name="cenajednoggrupnog" />
                    </div>
                    <label id="Status7" class="control-label col-sm-4"></label>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Cena treninga sa personalnim trenerom:</label>
                    <div class="col-sm-3">
                        <input class="form-control" type="number" placeholder="Unesite cenu treninga sa PT" max="1000000" onchange="CenaJednogPTEmpty()" id="CenaJednogPT" min="10" name="cenajednogpt" />
                    </div>
                    <label id="Status8" class="control-label col-sm-4"></label>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-4">
                        <input class="btn btn-primary" type="submit" id="dugme" value="Dodaj fitnes centar" />
                    </div>
                </div>
            </div>    
        </form>
    </body>
</html>

