﻿
@{
    ViewBag.Title = "IzmeniFitnesCentar";
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Podaci Fitnes centra</title>

        <script>

            var username = true;

            function UserCheck() {
                if ($("#NoviNaziv").val() != "") {
                    $.post("@Url.Action("CheckUserAvailability", "VlasnikUlogovan")",
                        {
                            userdata: $("#NoviNaziv").val()
                        },
                        function (data) {
                            if (data == 0) {
                                $("#NoviNaziv").css("border-color", "lightgray");
                                $("#Status1").html('');
                                username = true;
                            } else {
                                $("#NoviNaziv").css("border-color", "Red");
                                $("#Status1").html('<font color="Red">Fitnes centar sa istim nazivom vec postoji!</font>');
                                username = false;
                            }
                        });
                } else {
                    username = true;
                }
            }

            function validateForm() {
                return username;
            }

        </script>

        <style>
            p.tekstic {
                color: grey;
            }
            div.row {
                display: flex;
                align-items: center;
            }
    </style>
    </head>
    <body>
        <br /><br />
        <table class="table table-striped" border="1">
            <thead class="thead-light">
                <tr bgcolor="lightgrey">
                    <td align="center"><strong>Naziv</strong></td>
                    <td align="center"><strong>Adresa</strong></td>
                    <td align="center"><strong>Godina otvaranja</strong></td>
                    <td align="center"><strong>Ime vlasnika</strong></td>
                    <td align="center"><strong>Cena mesecne clanarine</strong></td>
                    <td align="center"><strong>Cena godisnje clanarine</strong></td>
                    <td align="center"><strong>Cena jednog treninga</strong></td>
                    <td align="center"><strong>Cena jednog grupnog treninga</strong></td>
                    <td align="center"><strong>Cena treninga sa PT</strong></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="center">@ViewBag.fitnescentar.Naziv</td>
                    <td align="center">@ViewBag.fitnescentar.Adresa</td>
                    <td align="center">@ViewBag.fitnescentar.GodinaOtvaranja</td>
                    <td align="center">@ViewBag.fitnescentar.Vlasnik.Ime @ViewBag.fitnescentar.Vlasnik.Prezime </td>
                    <td align="center">@ViewBag.fitnescentar.CenaMesecneClanarine</td>
                    <td align="center">@ViewBag.fitnescentar.CenaGodisnjeClanarine</td>
                    <td align="center">@ViewBag.fitnescentar.CenaJednogTreninga</td>
                    <td align="center">@ViewBag.fitnescentar.CenaJednogGrupnog</td>
                    <td align="center">@ViewBag.fitnescentar.CenaJednogPT</td>
                </tr>
            </tbody>
        </table>
        
        <br /><br/>

        <form method="post" onsubmit="return validateForm()" action="~/VlasnikUlogovan/FitnesCentarIzmenjen?id=@ViewBag.fitnescentar.Id">
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-sm-2">Novo ime fitnes centra</label>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input class="form-control" type="text" id="NoviNaziv" maxlength="30" onchange="UserCheck()" name="novinaziv" />
                    </div>
                    <label id="Status1" class="control-label col-sm-4"></label>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Nova adresa</label>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input class="form-control" type="text" maxlength="70" name="novaadresa" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <p class="tekstic"><i>U formatu adresa i broj, grad, postanski broj</i></p>
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-3">Nova cena mesecne clanarine</label>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input class="form-control" type="number" min="10" max="1000000" name="novacenamesecneclanarine" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-3">Nova cena godisnje clanarine</label>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input class="form-control" type="number" min="10" max="1000000" name="novacenagodisnjeclanarine" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-3">Nova cena jednog treninga</label>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input class="form-control" type="number" min="10" max="1000000" name="novacenajednogtreninga" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-3">Nova cena jednog grupnog treninga</label>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input class="form-control" type="number" min="10" max="1000000" name="novacenajednoggrupnog" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-3">Nova cena jednog treninga sa personalnim trenerom</label>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input class="form-control" type="number" min="10" max="1000000" name="novacenajednogpt" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-3">
                        <input class="btn btn-primary" type="submit" value="Sacuvaj izmene" />
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>

