﻿
@{
    ViewBag.Title = "MojiFitnesCentri";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Moji fitnes centri</title>

    <script type="text/javascript">

        function DeleteJob() {
            if (confirm("Da li ste sigurni da zelite da obrisete ovaj Fitnes centar?")){
                return true;
            }else{
                return false;
            }   
        }
    </script>
</head>
<body>
    @if (ViewBag.AlertMessage != null)
    {
        <script type="text/javascript">
                window.onload = function () {
                    alert("@ViewBag.AlertMessage");
                };
        </script>
    }
    <h2 class="text-info">Fitnes centri korisnika @ViewBag.vlasnik.KorisnickoIme</h2>
    <table class="table table-striped" border="1">
        <thead class="thead-light">
            <tr bgcolor="lightgrey">
                <td align="center"><strong>Naziv</strong></td>
                <td align="center"><strong>Adresa</strong></td>
                <td align="center"><strong>Godina otvaranja</strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.sortiranaLista)
            {
                <tr>
                    <td align="center">@item.Naziv</td>
                    <td align="center">@item.Adresa</td>
                    <td align="center">@item.GodinaOtvaranja</td>
                    <td align="center">
                        <form method="post" action="~/Home/Detalji?id=@item.Id">
                            <input class="btn btn-info" type="submit" value="Detalji" />
                        </form>
                    </td>
                    <td align="center">
                        <form method="post" action="~/VlasnikUlogovan/Izmeni?id=@item.Id">
                            <input class="btn btn-warning" type="submit" value="Izmeni fitnes centar" />
                        </form>
                    </td>
                    <td align="center">
                        <form method="post" onsubmit="return DeleteJob()" action="~/VlasnikUlogovan/ObrisiFitnesCentar?id=@item.Id">
                            <input class="btn btn-danger" type="submit" value="Obrisi fitnes centar" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <a class="btn btn-success" href="/VlasnikUlogovan/DodajFitnesCentar">Dodaj novi fitnes centar</a>
</body>
</html>

