﻿
@{
    ViewBag.Title = "MojiTreneri";
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Moji zaposleni</title>
        <script>
            function DeleteJob() {
                if (confirm("Da li ste sigurni da zelite da blokirate ovog trenera?")){
                    return true;
                }else{
                    return false;
                }
            }
        </script>
    </head>
    <body>
        @if (ViewBag.AlertMessage != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    alert("@ViewBag.AlertMessage");
                };
            </script>
        }
        @if (ViewBag.treneri.Count != 0)
        {
            <h2 class="text-info">Treneri zaposleni u Vasim fitnes centrima</h2>
            <table class="table table-striped" border="1">
                <thead class="thead-light">
                    <tr bgcolor="lightgrey">
                        <td align="center"><strong>Korisnicko ime</strong></td>
                        <td align="center"><strong>Ime i prezime</strong></td>
                        <td align="center"><strong>Fitnes centar</strong></td>
                        <td>&nbsp;</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.treneri)
                    {
                        <tr>
                            <td align="center">@item.KorisnickoIme</td>
                            <td align="center">@item.Ime @item.Prezime</td>
                            <td align="center">@item.FitnesCentarZaposlen.Naziv</td>
                            <td align="center">
                                <form method="post" onsubmit="return DeleteJob()" action="~/VlasnikUlogovan/Blokiraj?id=@item.Id">
                                    <input class="btn btn-danger" type="submit" value="Blokiraj trenera" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h2>U vasim fitnes centrima nema zaposlenih</h2>
        }
        <br />
        <a class="btn btn-success" href="/VlasnikUlogovan/DodajTrenera">Registruj novog trenera</a>
    </body>
</html>

