﻿
@{
    ViewBag.Title = "OdobriKomentare";
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Odobri komentare</title>
    </head>
    <body>
        @if (ViewBag.AlertMessage != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    alert("@ViewBag.AlertMessage");
                };
            </script>
        }
        @if (ViewBag.komentari.Count != 0)
        {
            <h2 class="text-info">Pristigli komentari na vase fitnes centre</h2>
            <table class="table table-striped" border="1">
                <thead class="thead-light">
                    <tr bgcolor="lightgrey">
                        <td align="center"><strong>Ime posetioca</strong></td>
                        <td align="center"><strong>Fitnes centar</strong></td>
                        <td align="center"><strong>Komentar</strong></td>
                        <td align="center"><strong>Ocena</strong></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.komentari)
                    {
                        <tr>
                            <td align="center">@item.Posetilac.KorisnickoIme</td>
                            <td align="center">@item.FitnesCentar.Naziv</td>
                            <td align="center">@item.Tekst</td>
                            <td align="center">@item.Ocena</td>
                            <td align="center">
                                <form method="post" action="~/VlasnikUlogovan/KomentarOdobren?id=@item.Id">
                                    <input class="btn btn-success" type="submit" value="Odobri" />
                                </form>
                            </td>
                            <td align="center">
                                <form method="post" action="~/VlasnikUlogovan/KomentarOdbijen?id=@item.Id">
                                    <input class="btn btn-danger" type="submit" value="Odbij" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h2 class="text-info">Nema pristiglih komentara za Vase fitnes centre</h2>
        }
        <br />
    </body>
</html>

