﻿
@{
    ViewBag.Title = "DodajGrupniTrening";
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Moji Grupni Treninzi</title>

        <script>

            function vratiDatum()
            {
                var today = new Date();

                var sutra = today.setDate(today.getDate() + 3);

                today = new Date(sutra);
                var dd = today.getDate();
                var mm = today.getMonth() + 1;
                var yyyy = today.getFullYear();
                var hh = today.getHours();
                var min = today.getMinutes();
                var sec = '00';

                if (dd < 10) {
                    dd = '0' + dd;
                }

                if (mm < 10) {
                    mm = '0' + mm;
                }

                if (hh < 10) {
                    hh = '0' + hh;
                }

                if (min < 10) {
                    min = '0' + min;
                }

                today = yyyy + '-' + mm + '-' + dd + 'T' + hh + ':' + min;
                document.getElementById("VremeOdrzavanja").setAttribute("min", today);
            }

            function NameEmpty() {
                if ($("#naziv").val() == "") {
                    $("#Status1").html('<font color="Red">Ovo polje mora biti popunjano!</font>');
                    $("#naziv").css("border-color", "Red");
                } else {
                    $("#Status1").html('');
                    $("#naziv").css("border-color", "lightgray");
                }
            }

            function TrajanjeEmpty() {
                if ($("#TrajanjeTreninga").val() == "") {
                    $("#Status2").html('<font color="Red">Ovo polje mora biti popunjano!</font>');
                    $("#TrajanjeTreninga").css("border-color", "Red");
                } else {
                    $("#Status2").html('');
                    $("#TrajanjeTreninga").css("border-color", "lightgray");
                }
            }

            function VremeEmpty() {
                if ($("#VremeOdrzavanja").val() == "") {
                    $("#Status3").html('<font color="Red">Ovo polje mora biti popunjano!</font>');
                    $("#VremeOdrzavanja").css("border-color", "Red");
                } else {
                    $("#Status3").html('');
                    $("#VremeOdrzavanja").css("border-color", "lightgray");
                }
            }

            function MaxEmpty() {
                if ($("#MaksimalanBrojPosetilaca").val() == "") {
                    $("#Status4").html('<font color="Red">Ovo polje mora biti popunjano!</font>');
                    $("#MaksimalanBrojPosetilaca").css("border-color", "Red");
                } else {
                    $("#Status4").html('');
                    $("#MaksimalanBrojPosetilaca").css("border-color", "lightgray");
                }
            }

            function validateForm() {

                var dobro = true;

                if ($("#naziv").val() == "") {
                    $("#Status1").html('<font color="Red">Ovo polje mora biti popunjano!</font>');
                    $("#naziv").css("border-color", "Red");
                    dobro = false;
                } else {
                    $("#Status1").html('');
                    $("#naziv").css("border-color", "lightgray");
                }

                if ($("#TrajanjeTreninga").val() == "") {
                    $("#Status2").html('<font color="Red">Ovo polje mora biti popunjano!</font>');
                    $("#TrajanjeTreninga").css("border-color", "Red");
                    dobro = false;
                } else {
                    $("#Status2").html('');
                    $("#TrajanjeTreninga").css("border-color", "lightgray");
                }

                if ($("#VremeOdrzavanja").val() == "") {
                    $("#Status3").html('<font color="Red">Ovo polje mora biti popunjano!</font>');
                    $("#VremeOdrzavanja").css("border-color", "Red");
                    dobro = false;
                } else {
                    $("#Status3").html('');
                    $("#VremeOdrzavanja").css("border-color", "lightgray");
                }

                if ($("#MaksimalanBrojPosetilaca").val() == "") {
                    $("#Status4").html('<font color="Red">Ovo polje mora biti popunjano!</font>');
                    $("#MaksimalanBrojPosetilaca").css("border-color", "Red");
                    dobro = false;
                } else {
                    $("#Status4").html('');
                    $("#MaksimalanBrojPosetilaca").css("border-color", "lightgray");
                }
                return dobro;
            }

        </script>

        <style>
            div.row {
                display: flex;
                align-items: center;
            }
        </style>
    </head>

    <body onload="vratiDatum()">
        @if (ViewBag.AlertMessage != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    alert("@ViewBag.AlertMessage");
                };
            </script>
        }
        <h2>Kreirajte novi grupni trening</h2>
        <br />
        <form method="post" action="~/TrenerUlogovan/GrupniTreningDodat" onsubmit="return validateForm()">
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-sm-2">Naziv:</label>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" onchange="NameEmpty()" maxlength="30" placeholder="Unesite naziv grupnog treninga" id="naziv" name="Naziv" />
                    </div>
                    <label id="Status1" class="control-label col-sm-4"></label>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Tip treninga:</label>
                    <div class="col-sm-3">
                        <select class="form-control" name="TipTreninga">
                            @foreach (var item in ViewBag.tipovitreninga)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Trajanje treninga:</label>
                    <div class="col-sm-3">
                        <input class="form-control" type="number" onchange="TrajanjeEmpty()" placeholder="Trajanje treninga (u minutima)" min="20" max="200" id="TrajanjeTreninga" name="TrajanjeTreninga" />
                    </div>
                    <label id="Status2" class="control-label col-sm-4"></label>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Vreme odrzavanja:</label>
                    <div class="col-sm-3">
                        <input class="form-control" onchange="VremeEmpty()" type="datetime-local" id="VremeOdrzavanja" name="VremeOdrzavanja" />
                    </div>
                    <label id="Status3" class="col-sm-4"></label>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Maksimalan broj posetilaca:</label>
                    <div class="col-sm-3">
                        <input class="form-control" type="number" placeholder="Unesite maksimalan broj posetilaca" onchange="MaxEmpty()" min="1" max="100" id="MaksimalanBrojPosetilaca" name="MaksimalanBrojPosetilaca" />
                    </div>
                    <label id="Status4" class="control-label col-sm-4"></label>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-4">
                        <input class="btn btn-primary" type="submit" value="Kreiraj grupni trening" />
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>
