﻿
@{
    ViewBag.Title = "IzmeniGrupniTrening";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Podaci grupnog treninga</title>

    <script>
            function vratiDatum()
            {
                var today = new Date();
                var sutra = today.setDate(today.getDate() + 3);

                today = new Date(sutra);
                var dd = today.getDate();
                var mm = today.getMonth() + 1;
                var yyyy = today.getFullYear();
                var hh = today.getHours();
                var min = today.getMinutes();
                var sec = '00';

                if (dd < 10) {
                    dd = '0' + dd;
                }

                if (mm < 10) {
                    mm = '0' + mm;
                }

                if (hh < 10) {
                    hh = '0' + hh;
                }

                if (min < 10) {
                    min = '0' + min;
                }

                today = yyyy + '-' + mm + '-' + dd + 'T' + hh + ':' + min;
                document.getElementById("VremeOdrzavanja").setAttribute("min", today);
            }
    </script>
</head>
    <body onload="vratiDatum()">
        <br /><br />
        <table class="table table-striped" border="1">
            <thead class="thead-light">
                <tr bgcolor="lightgrey">
                    <td align="center"><strong>Naziv treninga</strong></td>
                    <td align="center"><strong>Tip treninga</strong></td>
                    <td align="center"><strong>Trajanje treninga</strong></td>
                    <td align="center"><strong>Vreme odrzavanja</strong></td>
                    <td align="center"><strong>Max broj posetilaca</strong></td>
                </tr>
            </thead>
            <tbody>  
                <tr>
                    <td align="center">@ViewBag.grupnitrening.Naziv</td>
                    <td align="center">@ViewBag.grupnitrening.TipTreninga.ToString()</td>
                    <td align="center">@ViewBag.grupnitrening.TrajanjeTreninga</td>
                    <td align="center">@ViewBag.grupnitrening.VremeOdrzavanja.ToString("dd/MM/yyyy HH:mm")</td>
                    <td align="center">@ViewBag.grupnitrening.MaksimalanBrojPosetilaca</td>
                </tr>
            </tbody>
        </table>
        
        <br/><br/>
        <form method="post" action="~/TrenerUlogovan/GrupniTreningIzmenjen?id=@ViewBag.grupnitrening.Id">
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-sm-3">Novo ime grupnog treninga:</label>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input class="form-control" maxlength="30" type="text" name="Naziv" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Novi tip treninga:</label>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input class="form-control" list="tipovi" name="TipTreninga" />
                        <datalist id="tipovi">
                            @foreach (var item in ViewBag.tipovitreninga)
                            {
                                <option value="@item"></option>
                            }
                        </datalist>
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Trajanje treninga:</label>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input class="form-control" type="number" min="20" max="200" name="TrajanjeTreninga" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Novo vreme odrzavanja:</label>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input class="form-control" id="VremeOdrzavanja" type="datetime-local" name="VremeOdrzavanja" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-3">Novi maksimalan broj posetilaca:</label>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input class="form-control" type="number" min="1" max="100" name="MaksimalanBrojPosetilaca" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-4">
                        <input class="btn btn-primary" type="submit" value="Sacuvaj izmene" />
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>
