﻿
@{
    ViewBag.Title = "MojiGrupniTreninzi";
}


<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Moji Grupni Treninzi</title>

        <style>
            a {
                color: black;
            }
            div.row {
                display: flex;
                align-items: center;
            }
        </style>

        <script>
            function DeleteJob() {
                if (confirm("Da li ste sigurni da zelite da obrisete ovaj Grupni trening?")) {
                    return true;
                } else {
                    return false;
                }
            }
        </script>

    </head>
    <body>
        @if (ViewBag.AlertMessage != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    alert("@ViewBag.AlertMessage");
                };
            </script>
        }
        @if (ViewBag.sortiranitreninzinovi.Count != 0)
        {
            <h2 class="text-info">Predstojeci grupni treninzi koje vodi @ViewBag.trener.KorisnickoIme</h2>
            <table class="table table-striped" border="1">
                <thead class="thead-light">
                    <tr bgcolor="lightgrey">
                        <td align="center"><strong>Naziv treninga</strong></td>
                        <td align="center"><strong>Tip treninga</strong></td>
                        <td align="center"><strong>Trajanje treninga</strong></td>
                        <td align="center"><strong>Vreme odrzavanja</strong></td>
                        <td align="center"><strong>Max broj posetilaca</strong></td>
                        <td align="center"><strong>Broj prijavljenih posetilaca</strong></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.sortiranitreninzinovi)
                    {
                        <tr>
                            <td align="center">@item.Naziv</td>
                            <td align="center">@item.TipTreninga.ToString()</td>
                            <td align="center">@item.TrajanjeTreninga</td>
                            <td align="center">@item.VremeOdrzavanja.ToString("dd/MM/yyyy HH:mm")</td>
                            <td align="center">@item.MaksimalanBrojPosetilaca</td>
                            <td align="center">@item.Posetioci.Count</td>
                            <td align="center">
                                <form method="post" action="~/TrenerUlogovan/Izmeni?id=@item.Id">
                                    <input class="btn btn-warning" type="submit" value="Izmeni grupni trening" />
                                </form>
                            </td>
                            <td align="center">
                                <form method="post" onsubmit="return DeleteJob()" action="~/TrenerUlogovan/ObrisiGrupniTrening?id=@item.Id">
                                    <input class="btn btn-danger" type="submit" value="Obrisi grupni trening" />
                                </form>
                            </td>
                            <td align="center">
                                <form method="post" action="~/TrenerUlogovan/Prikazi?id=@item.Id">
                                    <input class="btn btn-info" type="submit" value="Prikazi posetioce" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h2 class="text-info">Trener @ViewBag.trener.KorisnickoIme nema predstojecih grupnih treninga</h2>
        }

        @if (ViewBag.sortiranitreninzistari.Count != 0)
        {
            <h2 class="text-info">Stari grupni treninzi koje je vodio @ViewBag.trener.KorisnickoIme</h2>
            <table class="table table-striped" border="1">
                <thead class="thead-light">
                    <tr bgcolor="lightgrey">
                        <td align="center"><strong><a href="/TrenerUlogovan/Naziv">Naziv treninga</a></strong></td>
                        <td align="center"><strong><a href="/TrenerUlogovan/Tip">Tip treninga</a></strong></td>
                        <td align="center"><strong>Trajanje treninga</strong></td>
                        <td align="center"><strong><a href="/TrenerUlogovan/Vreme">Vreme odrzavanja</a></strong></td>
                        <td align="center"><strong>Max broj posetilaca</strong></td>
                        <td align="center"><strong>Broj prijavljenih posetilaca</strong></td>
                        <td>&nbsp;</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.sortiranitreninzistari)
                    {
                        <tr>
                            <td align="center">@item.Naziv</td>
                            <td align="center">@item.TipTreninga.ToString()</td>
                            <td align="center">@item.TrajanjeTreninga</td>
                            <td align="center">@item.VremeOdrzavanja.ToString("dd/MM/yyyy HH:mm")</td>
                            <td align="center">@item.MaksimalanBrojPosetilaca</td>
                            <td align="center">@item.Posetioci.Count</td>
                            <td align="center">
                                <form method="post" action="~/TrenerUlogovan/Prikazi?id=@item.Id">
                                    <input class="btn btn-info" type="submit" value="Prikazi posetioce" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h2 class="text-info">Trener @ViewBag.trener.KorisnickoIme nema starih grupnih treninga</h2>
        }
        <br />

        <h3><strong>Pretraga grupnih treninga</strong></h3>
        <br />
        <form method="post" action="~/TrenerUlogovan/Pretrazi">
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-sm-3">Naziv grupnog treninga:</label>
                    <div class="col-sm-4">
                        <input class="form-control" placeholder="Unesite naziv grupnog treninga" maxlength="30" type="text" name="naziv" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-3">Tip grupnog treninga:</label>
                    <div class="col-sm-4">
                        <input class="form-control" placeholder="Unesite tip grupnog treninga" list="tipovi" name="tip" />
                        <datalist id="tipovi">
                            @foreach (var i in ViewBag.tipovitreninga)
                            {
                                <option value="@i"></option>
                            }
                        </datalist>
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-3">Vreme odrzavanja treninga:</label>
                    <div class="col-sm-2">
                        <input class="form-control" type="datetime-local" id="vremeMin" name="vremeMin" />
                    </div>
                    <div class="col-sm-2">
                        <input class="form-control" type="datetime-local" id="vremeMax" name="vremeMax" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-3">
                        <input class="btn btn-primary" type="submit" value="Pretrazi" />
                    </div>
                </div>

            </div>
        </form>
        <br />
        <a class="btn btn-success" href="/TrenerUlogovan/DodajGrupniTrening">Dodaj grupni trening</a>
    </body>
</html>

