﻿
@{
    ViewBag.Title = "PrikaziPosetioce";
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Spisak posetilaca</title>
    </head>
    <body>
        @if (@ViewBag.trening.Posetioci.Count != 0)
        {
            <h2 class="text-info">Spisak posetilaca grupnog treninga "@ViewBag.trening.Naziv"</h2>
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr bgcolor="lightgrey">
                        <td align="center"><strong>Korisnicko ime</strong></td>
                        <td align="center"><strong>Ime i prezime</strong></td>
                        <td align="center"><strong>Pol</strong></td>
                        <td align="center"><strong>Email</strong></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @ViewBag.trening.Posetioci)
                    {
                        <tr>
                            <td align="center">@item.KorisnickoIme</td>
                            <td align="center">@item.Ime @item.Prezime</td>
                            <td align="center">@item.Pol</td>
                            <td align="center">@item.Email</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h2 class="text-info">Grupni trening "@ViewBag.trening.Naziv" nema prijavljenih posetilaca</h2>
        }
    </body>
</html>
