﻿
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Moj Nalog</title>
    </head>
    <body>
        @if (ViewBag.AlertMessage != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    alert("@ViewBag.AlertMessage");
                };
            </script>
        }
        <h2>Licni podaci</h2>

        <br />

        <h4><a href="~/MojNalog/LicniPodaci">Promena licnih podataka</a></h4>
        <h5>@ViewBag.korisnik.KorisnickoIme, @ViewBag.korisnik.Ime @ViewBag.korisnik.Prezime</h5> <br />

        <h4><a href="~/MojNalog/Lozinka">Promena lozinke</a></h4> <br />

        <h4><a href="~/MojNalog/Email">Promena E-mail adrese</a></h4>
        <h5>@ViewBag.korisnik.Email</h5>

    </body>
</html>
