﻿
@{
    ViewBag.Title = "LicniPodaci";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Licni Podaci</title>

    <script>

        var username = true;

        function UserCheck() {

            if ($("#KorisnickoIme").val() != "") {
                $.post("@Url.Action("CheckUserAvailability", "Registration")",
                {
                    userdata: $("#KorisnickoIme").val()
                },
                function (data) {
                    if (data == 0) {
                        $("#Status1").html('<font color="Green">Korisnicko ime je slobodno!</font>');
                        $("#KorisnickoIme").css("border-color", "GreenYellow");
                        username = true;
                    } else {
                        $("#Status1").html('<font color="Red">Ovo korisnicko ime je zauzeto!</font>');
                        $("#KorisnickoIme").css("border-color", "Red");
                        username = false;
                    }
                });
            } 
        }

        function validateForm() {
            return username;
        }

    </script>

    <style>
        div.row {
            display: flex;
            align-items: center;
        }
    </style>
</head>
    <body>
        @if (ViewBag.AlertMessage != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    alert("@ViewBag.AlertMessage");
                };
            </script>
        }
        <br /><br />
        <table>
            <tr>
                <td><strong>Trenutno korisnicko ime</strong></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><strong>Trenutno ime i prezime</strong></td>
            </tr>
            <tr>
                <td align="center">@ViewBag.korisnik.KorisnickoIme</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td align="center">@ViewBag.korisnik.Ime  @ViewBag.korisnik.Prezime</td>
            </tr>
        </table> 
        <br/><br/>
        
        <form method="post" action="~/MojNalog/LicniPodaciPromenjeni" onsubmit="return validateForm()">
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-sm-2">Novo korisnicko ime</label>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input class="form-control" type="text" placeholder="Unesite novo korisnicko ime" maxlength="30" id="KorisnickoIme" name="korisnickoime" onchange="UserCheck()" />
                    </div>
                    <label class="control-label col-sm-4" id="Status1"></label>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Novo ime</label>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input class="form-control" type="text" placeholder="Unesite novo ime" maxlength="20" name="ime" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Novo prezime</label>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input class="form-control" type="text" placeholder="Unesite novo prezime" maxlength="30" name="prezime" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-3">
                        <input class="btn btn-primary" type="submit" value="Sacuvaj izmene" />
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>