﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        a {
            margin: auto;
            display: block;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="row">
                <div class="navbar-collapse collapse col-sm-7">
                    <ul class="nav navbar-nav">
                        <li><a href="/Home/Index" class="btn btn-link">Home</a></li>
                        @if (ViewBag.korisnik.LogedIn)
                        {
                            <li><a href="/MojNalog/Index" class="btn btn-link">Moj nalog</a></li>

                            if (ViewBag.korisnik.Uloga.ToString() == "POSETILAC")
                            {
                                <li><a class="btn btn-link" href="/PosetilacUlogovan/MojiGrupniTreninzi">Moji grupni treninzi</a></li>
                            }
                            else if (ViewBag.korisnik.Uloga.ToString() == "TRENER")
                            {
                                <li><a class="btn btn-link" href="/TrenerUlogovan/MojiGrupniTreninzi">Moji grupni treninzi</a></li>
                            }
                            else
                            {
                                <li><a class="btn btn-link" href="/VlasnikUlogovan/MojiFitnesCentri">Moji fitnes centri</a></li>
                                <li><a class="btn btn-link" href="/VlasnikUlogovan/MojiTreneri">Moji zaposleni</a></li>
                                <li><a class="btn btn-link" href="/VlasnikUlogovan/OdobriKomentare">Odobri komentare</a></li>
                            }
                        }
                    </ul>
                </div>
                @if (!ViewBag.korisnik.LogedIn)
                {
                    <div class="col-sm-9">

                    </div>
                    <div class="navbar-collapse collapse col-sm-2">
                        <ul class="nav navbar-nav">
                            <li><a class="btn btn-link" href="/Registration/Index">Registracija</a></li>
                            <li><a class="btn btn-link" href="/Authentication/Index">Prijavi se</a></li>
                        </ul>
                    </div>
                }
                else
                {

                    if (ViewBag.korisnik.Uloga.ToString() == "VLASNIK")
                    {
                        <div class="col-sm-5">

                        </div>
                    }
                    else
                    {
                        <div class="col-sm-7">

                        </div>
                    }
                    <div class="navbar-collapse collapse col-sm-1">
                        <ul class="nav navbar-nav">
                            <li><a class="btn btn-link" href="/Authentication/Logout">Odjavi se</a></li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        @*<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
